name: tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install Rokit
        uses: CompeyDev/setup-rokit@v0.1.2
      
      - name: Install Luau and Lute
        run: rokit install
      
      - name: Run tests
        run: lute run scripts/run_tests.luau
        shell: bash
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.out
          flags: ${{ matrix.os }}
          name: codecov-${{ matrix.os }}
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}